_site

# VitePress
node_modules
dist
.vitepress/cache
.vitepress/dist
docs/.vitepress/cache
docs/.vitepress/dist

# Environment variables
.env
.env.local

# Logs
*.log
npm-debug.log*

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon
# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
